body{
	min-width: 525px;
}
footer, main {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
	width: 100%;
	min-width: inherit;
	position: absolute;
}
footer {
	padding-left:10px;
	padding-right:10px;
	font-size: small;
	bottom: 0;
	text-align: right;
}
main {
	display: flex;
	flex-direction: row;
	border-bottom: 2px solid;
	border-top: 2px solid;
	top: 20px;
	bottom: 20px;
}

main > nav, main > article {
	border: 1px solid LightGrey;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 1px #000;
	-ms-box-shadow: inset 0 0 1px #000;
	box-shadow: inset 0 0 1px #000;
	height: inherit;
	padding: 0px;
	padding: 0;
	position: relative;
}

main > article {
	width: 100%;
}

main iframe {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}

.modal-content{
	width:50%;
	min-width: 580px;
	margin: 0;
	padding: 20px;
	border: 1px solid LightGrey;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 1px #000;
	-ms-box-shadow: inset 0 0 1px #000;
	box-shadow: inset 0 0 1px #000;
	background:#fff;
	z-index:2;
	position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
	visibility: hidden;
}

.button-link{
	color:#00f;
	text-decoration:underline;
}
 
.button-link:hover{
	cursor:pointer;
	color:#f00;
}

#modal-overlay{
	z-index:1;
	visibility: hidden;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.75);
}
