body{
	padding:0px;
	margin:0px;
	min-width: 525px;
}
header, footer, main {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
	width: 100%;
	min-width: inherit;
}
header, footer {
	padding-left:10px;
	padding-right:10px;
}
header {
	position: relative;
}
header, main {
	display: flex;
	flex-direction: row;
}
main, footer {
	position: absolute;
}
h1, h2 {
	margin: 5px auto 5px 0;
	font-size: small;
}
header > ul {
	display: flex;
	margin: auto 0 0;
}
header > ul li, nav > ul > li {
	display: block;
	padding: 0px 5px;
}
header > ul li a {text-decoration: none;}
header > ul li a:hover{background-color:#aaaaaa;}
header > ul li a:visited{color:-webkit-link;}
footer {
	font-size: small;
	bottom: 0;
	text-align: right;
}
main {
	border-bottom: 2px solid;
	border-top: 2px solid;
	top: 30px;
	bottom: 15px;
}
main > nav, main > article, .side-menu > li {
	border: 1px solid LightGrey;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 1px #000;
	-ms-box-shadow: inset 0 0 1px #000;
	box-shadow: inset 0 0 1px #000;
	height: inherit;
	padding: 0px;
}
main > article, main > nav {
	padding: 0;
	position: relative;
}
main > article {
	width: 100%;
}
.tab-page, .side-menu {
	position: absolute;
	width: inherit;
	top: 30px;
	bottom: 0px;
	left: 0;
	right: 0;
	overflow: auto;
}
.side-menu {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}
.side-menu > li {
	padding: 10px;
}
/* Prevent the text contents of draggable elements from being selectable. */
/*[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	/* Required to make elements draggable in old WebKit
	-khtml-user-drag: element;
	-webkit-user-drag: element;
}
*/

