@CHARSET "UTF-8";
body{
	padding:0px;
	margin:0px;
	min-width: 525px;
}
header, footer {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
	width: 100%;
	min-width: inherit;
	padding-left:10px;
	padding-right:10px;
}
header {
	position: fixed;
	display: flex;
	border-bottom: solid;
}
header > h3 {margin-right: auto;}
header > ul {
	display: flex;
	margin: auto 0 0;
}
header > ul li {
	display: block;
	padding: 5px;
}
header > ul li a {text-decoration: none;}
header > ul li a:hover{background-color:#aaaaaa;}
header > ul li a:visited{color:-webkit-link;}
footer {
	font-size: small;
	border-top: solid 2px;
	bottom: 0;
	position: fixed;
	text-align: right;
}

#main {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
	width: 100%;
	min-width: inherit;
	position: fixed;
	top: 60px;
	bottom: 15px;
	display: flex;
}
#main > nav, div#editorArea {
	border: 1px solid LightGrey;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 1px #000;
	-ms-box-shadow: inset 0 0 1px #000;
	box-shadow: inset 0 0 1px #000;
	height: inherit;
	padding: 20px;
	overflow: auto;
}
#main > nav {
	flex: 1;
}
/* Prevent the text contents of draggable elements from being selectable. */
/*[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	/* Required to make elements draggable in old WebKit
	-khtml-user-drag: element;
	-webkit-user-drag: element;
}
*/

div#editorArea {
	flex: 3;
} 

.draggable {
	border: 1px solid LightGrey;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 1px #000;
	-ms-box-shadow: inset 0 0 1px #000;
	box-shadow: inset 0 0 1px #000;
	cursor: move;
}

.dropzone {
	padding: 10px;
}

.dropzone.over {
	border: 1px dashed #000;
}

.draggable.moving {
	opacity: 0.25;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
}
/*
.editable {
	width: 200px;
	height: 30px;
}
*/
.draggable.editable .editting input {
	-moz-user-select: element;
	-khtml-user-select: element;
	-webkit-user-select: element;
	user-select: element;
}

input[text] {
font-size: 100%;
}

tb .textarea {
	
}
