html, body {
    height: 100%;
}
body{
    font-family:'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,osaka,'ＭＳ Ｐゴシック',"Lucida Grande","segoe UI",geneva,verdana,sans-serif;
    font-size: small;
    padding:0px;
    margin:0px;
}
h1, h2 {
    margin: 5px;
    font-size: small;
}
header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    min-width: inherit;
}
.with-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.btns,
.menu {
    display: flex;
    margin: 0;
    padding: 0;
}
.btns li,
.menu > li {
    display: block;
}
.btns {
    margin: 0 0 0 auto;
    justify-content: flex-end;
}
.btn {
    padding: 0 5px;
    text-decoration: none;
    border-radius: 3px;
}
.btn:hover{ background-color: aqua; }
.btn:visited{ color: -webkit-link; }

[v-cloak] { display: none; }