#tab-page {
    height: 100%;
    width: inherit;
    overflow: auto;
    padding: 5px 0 100px 0;
}

.data-table {
    margin: 0 auto;
    border-collapse:collapse;
       counter-reset: row-num;
}
.data-table th, .data-table td {
    padding: 3px;
    vertical-align: top;
}
.data-table, .data-table th, .data-table td {
    border: 1px LightGrey solid;
}
th.id-col::after {
    counter-increment: row-num;
    content: counter(row-num);
}
#new-rec {
    cursor: pointer;
}
#new-rec th.id-col::after {
    content: 'null';
}

.draggable {
    border: 1px solid LightGrey;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 1px #000;
    -ms-box-shadow: inset 0 0 1px #000;
    box-shadow: inset 0 0 1px #000;
    cursor: move;
}

.dropzone {
    padding: 10px;
}

.dropzone.over {
    border: 1px dashed #000;
}

.draggable.moving {
    opacity: .25;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
}
/*
.editable {
    width: 200px;
    height: 30px;
}
*/
.editting input {
    -moz-user-select: element;
    -khtml-user-select: element;
    -webkit-user-select: element;
    user-select: element;
}

.icon {width: 1em}
textarea {width: 100%}
.textarea-label {vertical-align: baseline;}

#def-tbl {
    counter-reset: col-num;
}
.col-h, #add-col{
    cursor: pointer;
}
.col-h label::after {
    counter-increment: col-num;
    content: counter(col-num);
}

